<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guilherme.paiva.effectivefactory" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_effectivefactory"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActvityInsertFactory"
            android:label="@string/insert_factory">
        </activity>
        <activity
            android:name=".DashboardFactory">
        </activity>

        <activity android:name=".DashboardRegister"></activity>
        <activity android:name=".ActivityInsertEmployee"></activity>
        <activity android:name=".ActivityInsertOperativePost"></activity>
        <activity android:name=".ActivityInsertProduct"></activity>
        <activity android:name=".ActivityInsertOS"></activity>
        <activity android:name=".ActivityInsertSubproduct"></activity>
        <activity android:name=".ActivityInsertOperation"></activity>
        <activity android:name=".ActivityInsertPatternTime"></activity>
        <activity android:name=".ActivityOS"></activity>
        <activity android:name=".ActivityProduction"></activity>
        <activity android:name=".ActivityTimeLine"></activity>
        <activity android:name=".ActivityIndicators"></activity>
        <activity android:name=".DetailOS">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityListEmployee"></activity>
        <activity android:name=".ActivityListSubproduct"></activity>
        <activity android:name=".ActivityListProduct"></activity>
        <activity android:name=".ActivityListOperation"></activity>
        <activity android:name=".ActivityListOperativePost"></activity>
        <activity android:name=".ActivityListPatternTime"></activity>


    </application>

</manifest>
